@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/src/assets/headerimage.jpg') no-repeat;
    background-size:contain;
    position: relative;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2 {
    font-weight: 500;
    font-size: max(2.5vw, 10px);
    animation: fadeIn 3s;
    background: linear-gradient(to right, indigo, violet, yellow, blue, green, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header-contents p{
    color: black;
    font-size: 1vw;
    animation: fadeIn 3s;
}

.sidecontent {
    position: absolute;
    right: 0;
    width: 30%;
}

@media screen and (max-width: 600px) {
    .sidecontent {
        position: static;
        width: 100%;
    }
}

@media (max-width:1050px) {
    .header{
        height: 38vw;
    }
    .header-contents{
        max-width: 45%;
    }
}
@media(max-width:750px){
    .header-contents{
        max-width: 55%;
    }
    .header-contents p{
       display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}